body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* h3 represents landmark name in popup */
h3 {
  font-family: "garamond";
  text-align: center;
  font-size: 1.5rem;
}

/* p represents landmark information in popup */
p {
  font-family: Palatino Linotype;
}

/* legend text */
.icon {
  font-family: Helvetica;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* padding between legend text and icons */
img {
  padding-right: 5px;
}

#map {
  width: 100%;
  height: 100vh;
}

/* dropdown arrow */
#dropdown {
  position: absolute;
  top: 0.6rem;
  left: 29.5rem;
}

/* selected category on dropdown arrow */
#dropdown select {
  background-color: #a8d8b9;
  font-family: helvetica;
  font-weight: bold;
}

/* legend */
#legend {
  position: absolute;
  bottom: 1.5rem;
  right: 0.5rem;
  background-color: rgba(168, 216, 185, 0.6);
  padding: 10px;
  border-radius: 5px;
  border: 5px solid #2a3b2d;
}

/* legend title */
#legend_title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: Helvetica;
  font-weight: bold;
}

/* Button */
#random-landmark {
  position: absolute;
  top: 0.6rem;
  left: 16rem;
  background-color: #a8d8b9;
  font-family: helvetica;
  border: 3px solid #2a3b2d;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

/* Hover over button */
#random-landmark:hover {
  background-color: #6a9a8a;
}

/* Popup Box Rectangle */
#map .mapboxgl-popup-content {
  background-color: #2a3b2d;
}

/* Popup Box Arrow */
#map .mapboxgl-popup-tip {
  border-top-color: #2a3b2d;
  border-bottom-color: #2a3b2d;
}

/* Text in Popup */
#map .mapboxgl-popup-content {
  color: white;
}

/* Close popup button */
.mapboxgl-popup-close-button {
  color: white;
}

/* Website Links */
.mapboxgl-popup-content a {
  color: #d0b88a;
  word-wrap: break-word; /*Avoid link overflowing out of popup box */
}
.mapboxgl-popup-content a:hover {
  color: #b49a63;
}

/* Zoom and compass */
.mapboxgl-ctrl-group {
  background: rgba(168, 216, 185, 0.6) !important;
  border-radius: 5px !important;
}

/* Geocoder Box */
.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  background: rgba(168, 216, 185, 0.6);
  border-radius: 5px;
}

/* Geocoder Placeholder Text */
.mapboxgl-ctrl-geocoder input::placeholder {
  color: #2a3b2d;
  font-size: 16px;
  font-style: italic;
}

/* Magnifying Glass icon */
.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--icon {
  fill: #2a3b2d;
}

